@media only screen and (min-width: 768px) {
  html, body {
    min-width: 1100px; } }
@media only screen and (max-width: 768px) {
  footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px; }
    footer .right {
      display: none; }

  .banner_circle {
    bottom: 0; }

  .engin {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px; }
    .engin .engin_first .engin_title {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 29px; }
    .engin .engin_first .engin_title + p {
      font-size: 18px; }
    .engin .engin_first .engin_item {
      margin-top: 20px; }
      .engin .engin_first .engin_item .engin_item_text {
        width: 70%; }

  .advantage {
    padding-bottom: 30px; }
    .advantage .advantage_first {
      margin-top: 0;
      margin-bottom: 10px; }
    .advantage .advantage_second .advantage_title {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 25px; }
    .advantage .advantage_second .advantege_item {
      margin-top: 25px; }

  .product {
    padding-top: 30px;
    padding-bottom: 30px; }
    .product .product_title {
      font-size: 26px; }
    .product .product_ul {
      padding-left: 0;
      padding-right: 0; }
    .product .product_item {
      display: block;
      margin-top: 60px; }
      .product .product_item .product_item_img {
        text-align: center; }
      .product .product_item .product_item_text {
        margin-left: 15px;
        margin-top: 25px;
        width: 93%; }
        .product .product_item .product_item_text > h4 {
          font-size: 34px; }

  .game {
    padding-top: 30px; }
    .game .game_title {
      width: 100%;
      margin-bottom: 20px; }
      .game .game_title > p:first-of-type {
        font-size: 18px; }
    .game .game_second > ul {
      margin-top: 0 !important; }
      .game .game_second > ul .game_item {
        margin-top: 15px; }
        .game .game_second > ul .game_item > img {
          width: 80%; }

  .partner {
    padding-left: 0;
    padding-right: 0; }
    .partner .partner_title {
      padding-left: 15px;
      padding-right: 15px; }
    .partner .partner_ul {
      margin-right: 0;
      margin-left: 15px;
      margin-top: 0; }
      .partner .partner_ul .partner_item {
        margin-top: 20px; }
      .partner .partner_ul .partner_item:last-of-type {
        padding-right: 14px; }

  .layaflash {
    padding-bottom: 40px; }
    .layaflash .layaflash_first .layaflash_title > p:first-of-type {
      font-size: 40px; }
      .layaflash .layaflash_first .layaflash_title > p:first-of-type > span {
        width: 50px;
        height: 50px;
        line-height: 50px; }
    .layaflash .layaflash_second {
      margin-top: 20px; }

  .layaplayer {
    padding-bottom: 40px; }
    .layaplayer .layaplayer_title > p:first-of-type {
      font-size: 40px; }
      .layaplayer .layaplayer_title > p:first-of-type > span {
        width: 50px;
        height: 50px;
        line-height: 50px; }
    .layaplayer .layaplayer_second .layaplayer_img:last-of-type {
      margin-top: 0; }

  .layaair_pc {
    display: none; }

  .layaair_phone {
    display: block; }
    .layaair_phone .layaair {
      padding-bottom: 0; }
    .layaair_phone .row:last-of-type {
      padding-top: 20px;
      padding-bottom: 30px; }

  .layaair {
    padding-top: 30px;
    padding-bottom: 30px; }
    .layaair .layaair_title > p:first-of-type {
      font-size: 40px; }
      .layaair .layaair_title > p:first-of-type > span {
        width: 50px;
        height: 50px;
        line-height: 50px; }
    .layaair .layaair_block {
      padding-top: 20px;
      padding-bottom: 20px; }

  .hotgame {
    padding-left: 20px;
    padding-right: 20px; }
    .hotgame .hotgame_first_phone {
      display: block; }
    .hotgame .hotgame_first {
      display: none; }
    .hotgame .hotgame_second > p {
      text-align: justify; }
    .hotgame .hotgame_second .hotgame_title {
      text-align: center; }
    .hotgame .hotgame_row_even {
      margin-top: 10px; }
      .hotgame .hotgame_row_even .hotgame_second .hotgame_title {
        text-align: center; }

  .game_case {
    padding-left: 20px;
    padding-right: 20px; }
    .game_case .game_case_item {
      margin-bottom: 10px; }
      .game_case .game_case_item .game_case_item_img:hover {
        cursor: pointer;
        opacity: 0.8; }
        .game_case .game_case_item .game_case_item_img:hover .game_case_item_intro {
          display: none; }

  .news {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px; }
    .news .news_title {
      margin-bottom: 18px; }
    .news .news_item {
      height: 80px;
      margin-bottom: 30px; }
      .news .news_item .news_item_intro {
        display: none; }
    .news .news_list {
      border-bottom: 2px dashed #EEEEEE; }
      .news .news_list > .row {
        margin-bottom: 12px; }
      .news .news_list > .row:last-of-type {
        margin-bottom: 20px; }
      .news .news_list .news_list_intro > p {
        margin-bottom: 6px; }
      .news .news_list .news_list_intro .news_list_intro_title {
        font-size: 16px; }
      .news .news_list .news_list_intro .news_list_intro_content {
        display: none; }
      .news .news_list .news_list_intro .news_list_intro_buttom {
        display: none; }
    .news .page {
      margin-top: 0;
      margin-left: -15px;
      margin-right: -15px; }
      .news .page .page_ul > li > a {
        color: rgba(42, 42, 42, 0.8);
        font-size: 12px;
        border: 1px solid #EEEEEE;
        letter-spacing: 1px;
        padding: 5px 10px; }

  .about_company {
    margin-top: 30px;
    margin-bottom: 30px; }

  .about_invite {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0; }
    .about_invite .about_invite_title {
      margin-bottom: 10px; }
    .about_invite .about_invite_second {
      margin-top: 20px; }

  .about_invite_list .about_invite_list_col {
    padding-left: 0;
    padding-right: 0; }
  .about_invite_list .about_invite_list_block {
    margin-top: 30px;
    padding-bottom: 20px; }
    .about_invite_list .about_invite_list_block .about_invite_list_maintitle {
      margin-bottom: 20px; }
  .about_invite_list .about_invite_list_block:last-of-type {
    padding-bottom: 30px; } }

/*# sourceMappingURL=responsive.css.map */
